<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-justify">
          Bem-vindo ao Steam Organizer. Para utilizar a aplicação, é necessário
       fazer login através da sua conta Steam. Para que possamos acessar sua biblioteca
       de jogos, sua perfil no steam precisa ser público.
       E fique tranquilo, todo o processo de login é feito pela própria Steam, não teremos
       acesso a sua senha ou qualquer outra informação privada.
    </div>
  </div>
  <div class="row">
    <br/>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-justify">
      Para iniciar o processo de login, clique no botão abaixo:
    </div>
  </div>
  <div class="row">
    <br/>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
      <a href="{{login.loginUrl}}">
        <img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png"/>
      </a>
    </div>
  </div>
  </div>
</div>
